*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/aFileChooser/build/intermediates/aapt_friendly_merged_manifests/
/aFileChooser/build/intermediates/annotation_processor_list/
/aFileChooser/build/intermediates/compile_only_not_namespaced_r_class_jar/
/aFileChooser/build/intermediates/full_jar/
/aFileChooser/build/intermediates/incremental/
/aFileChooser/build/intermediates/intermediate-jars/
/aFileChooser/build/intermediates/javac/
/aFileChooser/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/aFileChooser/build/intermediates/library_manifest/
/aFileChooser/build/intermediates/merged_manifests/
/aFileChooser/build/intermediates/packaged_res/
/aFileChooser/build/intermediates/res/
/aFileChooser/build/intermediates/symbols/
/aFileChooser/build/intermediates/transforms/
/aFileChooser/build/outputs/